.AdminLogin-header{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.AdminLogin-goback{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 17px;
    font-weight: bold;
}
.AdminLogin-header h2{
    font-size: 35px;
}

.AdminLogin p{
    font-weight: 200;
}

.AdminLogin-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AdminLogin-container{
    width: 400px;
    padding: 10px;
    padding-inline: 20px;
}