.Admin{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.AdminStores-container {  
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }

.Admin-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table{
  padding: 10px;
  max-height: 50px;
  overflow-y: scroll;
  min-width: 100vh;
}


th,td{
  font-size: 12px;
}

.prodForm{
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-container{
  padding: 10vh;
}

@media (max-height: 760px) {

  /* .p-3  {
    margin-left: 50%;
  } */
}